body{
    background-color: #0c1515;
    margin: 0;
    color: #f0f5f9;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: center;
    color: #c5cbdb;
    padding-top: 3%;
    
}

.texto{
    text-align: start;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 19px;
    font: optional;
    padding-right: 5%;
}

a:link{
    color:#c5cbdb;
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
}

.pags{
    display: flex;
    text-align: end;
    margin: 2px;;
    justify-content: flex-end;
    gap: 1rem;

}

figure img{
    display: block;
    width: 70%;                  /* Ajuste livre */
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

}

.conteudo{
    display: block;
    margin-left: 19%;
    margin-right: 19%;
    font-family: sans-serif;
}

.acesso{
    padding-bottom: 20%;
}

a{
    text-decoration: dotted;
}

a:hover{
    transform: scale(1.05);
}

a:visited{
    color: inherit;
}