body{
    background-image: url(https://i.pinimg.com/736x/91/20/7a/91207a45ed019676f2c9114e1a46abbc.jpg);
    color: #7b5d42;
    margin: 0
    
}
header{
    background-image: url(https://i.pinimg.com/736x/4f/8d/31/4f8d3138f9c6214cec2b780f1a647fff.jpg);
    color: #7b5d42;
    outline: 4px solid #7b5d42;
    padding: 2%;
    
}


.texto{
    text-align: start;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 24px;
    font: optional;
}

a:link{
    color:#7b5d42;
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
}

.pags{
    display: flex;
    text-align: end;

    margin: 2px;;
    justify-content: flex-end;
    gap: 1rem;

}

.caixa{
    position: relative;
    display: flex;
    width: 550px;
    height: 300px;
    background-image: url(https://i.ibb.co/JW6qRcBb/postcard.png);
    background-size: cover;
    background-position: center;
    border: 1px solid #7b5d42;
    border-radius: 10px;
    margin: 5% auto 0 auto;
    padding: 20px;
}

.data{
    position: absolute;
    top: 15px;
    left: 25px;
    color: #2f7134;
    font-size: 18px;
    font-weight: bold;
}

.lado-esq, .lado-dir {
    width: 50%;
    height: 100%;
}

.lado-esq{
    display: flex;
    padding-right: 5%;
}

figure img{
    width: 80%;                  /* Ajuste livre */
    border-radius: 10px;
    margin-top: 30%;
    margin-left: 2%;
}

figure{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lado-dir{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contatos{
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 0%;
    
}

.apresent{
    padding-top: 30%;
}

p {
    display: inline-block;
    vertical-align: top;
    margin-right: 10%;
    font-size: large;
    
}

.icones{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1%;
    padding-bottom: 10%;
}

.spotify iframe{
    width: 100%;
    max-width: 600px;  /* "trava" para ficar igual à caixa */
    height: 360px;
    border-radius: 10px;
}
.spotify{
    width: 550px; 
    margin: 30px auto; /* ficará centralizado como a caixa */
}

footer{
    background-image: url(https://i.pinimg.com/736x/4f/8d/31/4f8d3138f9c6214cec2b780f1a647fff.jpg);
    color:black;
    font-family: sans-serif;
    outline: 4px solid #7b5d42;
}

a{
    text-decoration: dotted;
}

a:hover{
    transform: scale(1.05);
}

a:visited{
    color: inherit;
}