body{
    background-image: url(https://i.pinimg.com/736x/91/20/7a/91207a45ed019676f2c9114e1a46abbc.jpg);
    color: #7b5d42;
    margin: 0
    
}
header{
    background-image: url(https://i.pinimg.com/736x/4f/8d/31/4f8d3138f9c6214cec2b780f1a647fff.jpg);
    color: #7b5d42;
    outline: 4px solid #7b5d42;
    padding: 2%;
    
}


.texto{
    text-align: start;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 24px;
    font: optional;
}

a:link{
    color:#7b5d42;
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
}

.pags{
    display: flex;
    text-align: end;

    margin: 2px;;
    justify-content: flex-end;
    gap: 1rem;

}

footer{
    background-image: url(https://i.pinimg.com/736x/4f/8d/31/4f8d3138f9c6214cec2b780f1a647fff.jpg);
    color:black;
    font-family: sans-serif;
    outline: 4px solid #7b5d42;
}

p {
    display: inline-block;
    vertical-align: top;
    margin-right: 10%;
    font-size: large;
    
}

.icones{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1%;
    padding-bottom: 10%;
}

.contatos{
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 0%;
    
}

.links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: auto;
}

.links a{
    display: flex;
}


.links img{
    width: 80%;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
}

.links img:hover{
    transform: scale(1.05); /* hover zoom effect */
}

a{
    text-decoration: dotted;
}

a:hover{
    transform: scale(1.05);
}

a:visited{
    color: inherit;
}